- @result.each do |item|
  = CSV.generate_line([item.barcode, item.bib_number, item.isbn_issn, item.title, item.author, item.chron, item.tray.present? ? item.tray.barcode : '', item.shelf.present? ? item.shelf.barcode : '', item.conditions.join(", ")], {:force_quotes=>true}).html_safe
  
