%h1 Editing tray type

= render 'form'
%br
= link_to 'Show', @tray_type, method: :get, class: 'btn pull-left btn-primary'
= link_to 'Cancel', tray_types_path, method: :get, class: 'btn pull-right btn-danger'
