.reports-list {
	border:solid 1px #ccc
}

.reports-list td, .reports-list th {
	padding:10px ;
	border:solid #ccc;
	border-width: 0 0 1px 1px;
}

.reports-list th {
	background: #666;
	color:#fff;
}

.reports-list tr td:first-child {
	font-weight: bold;
	width:20%
}

#new_report, .edit_report {
	padding:25px 0;
	width: 50%;
	min-width:500px;
}

#new_report .field, .edit_report .field {
	margin-bottom:12px;
}

#new_report .field  label, .edit_report .field label {
	display: inline-block;
	width: 20%;
}

#new_report .field input, .edit_report .field input {
	border:solid 1px #333;
	width: 79%;
	padding:5px
}

#new_report .field select, .edit_report .field select {
	padding:5px;

}

.ms-container {
	margin-left: 21%;
	margin-top: -2em;
}

#new_report .actions, .edit_report .actions {
	text-align:right;
}

#new_report .actions input, .edit_report .actions input {
	padding:10px 15px;
	font-size: 16px;
	border-radius: 4px;
	color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

#report_fields {
	margin:8px 0;
}

.reports-list a {
	padding: 10px 15px;
font-size: 16px;
border-radius: 4px;
color: #fff;
background-color: #337ab7;
border-color: #2e6da4;
}

.reports-list a[data-confirm="Are you sure?"] {
	background: #aa272f;
}